<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  <a href="https://www.facebook.com/pages/Mejorandotusalud/542349175786786/">Mejorando tu salud</a> 
  Esta es la informacion que mejorara tu salud.
</p>
