<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Para obtener ayuda y mas informaciòn contacta a Gerardo Chavez
  <a href="https://www.facebook.com/pages/Mejorandotusalud/542349175786786">Mejorando tu salud</a>.
</p>